<?php
{# Simple comment #}

// generate by github.com/topica/automatos-laminas on {{ "now"|date("d/m/Y") }}
// <root>/module/{{module|slugify}}/view/{{entity.name|slugify}}/{{ action }}.phtml:


$title = 'My {{entity.name|verbalize}}';
//$this->headTitle($title);
?><h1><?= $this->escapeHtml($title) ?></h1>
<p>
    <a href="<?= $this->url('{{module|slugify}}', ['controller' => '{{entity.name|slugify}}', 'action' => 'add', 'id' => 0, 'id_parent' => 0]) ?>">Add new {{entity.name|verbalize(false, true)}}</a>
</p>

<table class="table">
    <tr>
{% for column in entity.dbTable.columns %}
        <th><?= $this->translate('thead_{{entity.name}}-{{ column.name }}'); ?></th>
{% endfor %}
        <th>&nbsp;</th>
    </tr>

<?php foreach ( {{ entity.name|variabilize(true) }} as {{ entity.name|variabilize }}) : ?>    <tr>
{% for column in entity.dbTable.columns %}
        <td><?= $this->escapeHtml({{ entity.name|variabilize }}->{{ column.name }}) ?></td>
{% endfor %}

        <td>
            <a href="<?= $this->url('{{module|slugify}}', ['controller' => '{{entity.name|slugify}}', 'action' => 'edit'{% for key, table in entity.dbPKColumns %}, 'id' => {{ entity.name|variabilize }}->{{ key }}{% endfor %}]) ?>">Edit</a>
            <a href="<?= $this->url('{{module|slugify}}', ['controller' => '{{entity.name|slugify}}', 'action' => 'del'{% for key, table in entity.dbPKColumns %}, 'id' => {{ entity.name|variabilize }}->{{ key }}{% endfor %}]) ?>">Delete</a>
        </td>
    </tr>
<?php endforeach; ?>
</table>



